
lavis/models/blip2_models/unilm/
cococaption/


data/
weights/


*.pt
*.pth
*.ckpt
*.h5
*.safetensors


logs/
tb_logs/
wandb/


venv/
env/
.venv/
.env 


__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg
.pytest_cache/
.coverage


.ipynb_checkpoints/


.DS_Store
Thumbs.db
.vscode/
.idea/output/
lavis/output/
