
lavis/models/blip2_models/unilm/
cococaption/


data/
weights/
# Ignorer les poids de modèles s'ils traînent à la racine
*.pt
*.pth
*.ckpt
*.h5
*.safetensors
# Ignorer les logs d'entraînement (Tensorboard, Weights & Biases)
logs/
tb_logs/
wandb/


venv/
env/
.venv/
.env 


__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
*.egg
.pytest_cache/
.coverage


.ipynb_checkpoints/


.DS_Store
Thumbs.db
.vscode/
.idea/output/
lavis/output/
